@charset "UTF-8";

html {
  min-height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.5),
      rgba(76, 167, 179, 0.5)
    ),
    linear-gradient(225deg, rgba(23, 57, 87, 0.5), rgba(91, 136, 168, 0.7));
    font-size: .75em;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "col1 col2 col3"
        "footer footer footer";
    gap: 1em;
    padding: 1em;
}

body {
    font-size: 2em;
}

header {
    grid-area: header;
    text-align: center;
    padding: 2em;
    width: auto;
    margin: 0 auto;
}

#aboutme {
    padding: 10px;
}

/* First column */
#p1 {
    grid-area: col1;
    padding: 1em;
}

/* Second column */
#p2 {
    grid-area: col2;
    padding: 1em;
}
/* Third column */
#p3 {
    grid-area: col3;
    padding: 1em;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 1em;
}

