@charset "UTF-8";

/* Palette 
Ice Blue (#C3D6DF) – light background or section fill

Sky Mist (#A5C4CE) – secondary background or card base

Soft Slate (#88AFBB) – borders, UI elements, or muted text

Cool Steel (#6D99A6) – accent for buttons or highlights

Deep Marine (#527F8E) – main text or header color
*/

/* Glass */
.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

/* Final Website Base Stylesheet */

address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
nav a,
ol,
p,
section,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #527F8E;
}

body {
  display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Set the default page element styles */

ul,
ol {
  list-style: none;
}

ul {
  list-style: none;
  list-style-image: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #6D99A6;
}

/* Display Types */

@media (max-aspect-ratio: 1/1) {
  * {
    font-size: 80%;
  }

  #navlist {
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    justify-content: center;
  }
}



/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  animation: fadeIn 0.5s ease-in;
}