@charset "UTF-8";
@import url("css/base.css");

html {
  min-height: 100vh;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.5),
      rgba(76, 167, 179, 0.5)
    ),
    linear-gradient(225deg, rgba(23, 57, 87, 0.5), rgba(91, 136, 168, 0.7));
  font-size: 0.75em;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-size: 2em;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  padding: 1em;
  margin: 0;
}

/* Header Styles */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1.5em;
}

#photography {
  grid-column: 1;
  justify-self: start;
  font-size: 0.5em;
  padding: 1em;
}

#navlist {
  grid-column: 2;
  justify-self: end;
}
